{% include 'com/basic.html' %}

{% load static %}

  <!-- Start blog-->
   <section id="blog" class="section">
       <div class="container">
           <div class="row">

                 <body class="title-box text-center">
                    <h2 class="title">About Us</h2>
                     <p style="text-align:center;">
Kagzi papers are the largest manufacturer and exporter of cotton recycled handmade paper and gift paper products in India and also have the largest production capacity in India to meet your highest demands. We are providing good quality of papers With Widest product portfolio, Icon of premium quality and customer service, Neck to neck pricing, Top brand reputation, Extra soft, hygienic and super absorbent products, and Extra care for you.

The history of the paper is related to the history of human culture and civilization. The Egyptians, the Greeks, and the Romans wrote on "Papyrus", a paper – like the material. Today's paper was first developed and used in China. This paper was the most important carrier of information in the past since its birth.</p>
                     <p style="text-align:center;">There was a need to increase the population and transfer knowledge, education, and information to society on a large scale, which was the factors that forced paper growth for a great increase. Paper was a valuable product in earlier times and paper made an art – which was often kept secret because of the outstanding benefits of the product.

Handmade paper in India goes back as a third century BC. Handmade paper making is a traditional art that is popular for generations together by people of a particular class. This art has been passed from one generation to another generation of artisans.

These artisans are known as "Kagzi's". His name is derived from the Urdu word 'Kavas', which means paper. The size of this community has decreased in the last few years. There is a small area of 'Kagzi' in Sanganer near Jaipur, where a section of this community had settled thousands of years ago.</p>   <p style="text-align:center;">The 'Kagzi' community in Sanganer is the primary owner of the handmade paper industry in the town. Our history comes back in the 14th century when ruler Firoze Shah Tughlaq was there. Even in those days, handmade paper made by them was used to make copies of official documents, miniatures, calligraphy, and Holy Quran and to maintain account books. In the 16th century, Raja Man Singh, the then ruler of Ambar, brought the Kagzi in Sanganer and settled them on the banks of Saraswati river, where clear water was easily available. Thus, this city has emerged as one of North India's largest paper producing centers.</p>

                 </div>



           </div> <!--/.row-->
       </div> <!--/.container-->
   </section>
   <!-- End blog-->




  <!--Start Team-->
  <section id="team" class="section">
		<div class="container">
            <div class="row">

             <div class="title-box text-center">
                <h2 class="title">Founder&CEO</h2>
             </div>

             </div>

                <!-- Team -->
				<div class="team-items team-carousel">
                      <!-- Team Member #1 -->
                      <div class="item">
                          <img src="images/team/team1.jpg" alt=""  />
                          <h4>Jonh Doe</h4>
                          <h5>Photogropher</h5>
                          <p>Lorem ipsum dolor consectetur dolor consectetur adipisicing incididunt eiusmod temporcd incididunt consectetur laboredolore dolor adipisicing. </p>

                          <div class="socials">
                              <ul>
                               <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                               <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                               <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                               <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                              </ul>
                          </div>
                      </div>
                      <!-- End Member -->

                      <!-- Team Member #2 -->
                      <div class="item">
                          <img src="images/team/team2.jpg" alt=""  />
                          <h4>Jonh Doe</h4>
                          <h5>Web Designer</h5>
                          <p>Lorem ipsum dolor consectetur dolor consectetur adipisicing incididunt eiusmod temporcd incididunt consectetur laboredolore dolor adipisicing. </p>

                          <div class="socials">
                              <ul>
                               <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                               <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                               <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                               <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                              </ul>
                          </div>
                      </div>
                      <!-- End Member -->

                      <!-- Team Member #3 -->
                      <div class="item">
                          <img src="images/team/team3.jpg" alt=""  />
                          <h4>Jonh Doe</h4>
                          <h5>Graphic Designer</h5>
                          <p>Lorem ipsum dolor consectetur dolor consectetur adipisicing incididunt eiusmod temporcd incididunt consectetur laboredolore dolor adipisicing. </p>

                          <div class="socials">
                              <ul>
                               <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                               <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                               <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                               <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                              </ul>
                          </div>
                      </div>
                      <!-- End Member -->

                       <!-- Team Member #4 -->
                      <div class="item">
                          <img src="images/team/team4.jpg" alt=""  />
                          <h4>Jonh Doe</h4>
                          <h5>Photogropher</h5>
                          <p>Lorem ipsum dolor consectetur dolor consectetur adipisicing incididunt eiusmod temporcd incididunt consectetur laboredolore dolor adipisicing. </p>

                          <div class="socials">
                              <ul>
                               <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                               <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                               <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                               <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                              </ul>
                          </div>
                      </div>
                      <!-- End Member -->

                       <!-- Team Member #5 -->
                      <div class="item">
                          <img src="images/team/team1.jpg" alt=""  />
                          <h4>Jonh Doe</h4>
                          <h5>Graphic Designer</h5>
                          <p>Lorem ipsum dolor consectetur dolor consectetur adipisicing incididunt eiusmod temporcd incididunt consectetur laboredolore dolor adipisicing. </p>

                          <div class="socials">
                              <ul>
                               <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                               <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                               <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                               <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                              </ul>
                          </div>
                      </div>
                      <!-- End Member -->

                       <!-- Team Member #6 -->
                      <div class="item">
                          <img src="images/team/team2.jpg" alt=""  />
                          <h4>Jonh Doe</h4>
                          <h5>Web Designer</h5>
                          <p>Lorem ipsum dolor consectetur dolor consectetur adipisicing incididunt eiusmod temporcd incididunt consectetur laboredolore dolor adipisicing. </p>

                          <div class="socials">
                              <ul>
                               <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                               <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                               <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                               <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                              </ul>
                          </div>
                      </div>
                      <!-- End Member -->
				</div>
                <!-- End Team -->
			</div>
            <!-- End Content -->
	</section>
  <!--End Team-->





{% include 'com/footer.html' %}