<!doctype html>
<!--
	Lamoda by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
{% load static %}

<html lang="en-gb" class="no-js">
  <head>
    <meta charset="utf-8">
	<title>Lamoda Free Responsive Template | Template Stock</title>
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

	<!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


     <!--styles -->
    <link href="{% static '' %}com/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static '' %}com/css/font-awesome.css" rel="stylesheet">
    <link href="{% static '' %}com/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="{% static '' %}com/js/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="{% static '' %}com/js/owl-carousel/owl.transitions.css" rel="stylesheet">
    <link href="{% static '' %}com/css/magnific-popup.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '' %}com/css/animate.css" />
    <link rel="stylesheet" href="{% static '' %}com/css/etlinefont.css">
    <link href="{% static '' %}com/css/style.css" type="text/css"  rel="stylesheet"/>


   <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="{% static '' %}com/js/html5shiv.js"></script>
        <script src="{% static '' %}com/js/respond.min.js"></script>
        <![endif]-->
    </head>
	<body  data-spy="scroll" data-target="#main-menu">


  <!--Start Page loader -->
  <div id="pageloader">
        <div class="loader">
          <img src="{% static 'com/images/progress.gif' %}" alt='loader' />
        </div>
   </div>
   <!--End Page loader -->


   <!--Start Navigation-->
		<header id="header">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
								<span class="sr-only">Toggle navigation</span>
								<span class="fa fa-bars"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
                            <!--Start Logo -->
							<div class="logo-nav">
								<a href="/">
									<img src="{% static 'com/images/loga.png' %}" alt="Company logo" />
								</a>
							</div>
                            <!--End Logo -->
							<div class="clear-toggle"></div>
							<div id="main-menu" class="collapse scroll navbar-right">
								<ul class="nav">

									<li class="active"> <a href="/com/factorytour">FTOUR</a> </li>

									<li> <a href="/com/aboutus">About Us</a> </li>

                                    <li> <a href="/com/contact">Contact</a> </li>

                                    <li> <a href="/com/bag">Bag</a> </li>

                                     <li> <a href="/com/box">Box</a> </li>

								    <li> <a href="/com/cards">Cards</a> </li>

									<li> <a href="/com/christmas">Christmas </a> </li>
									<li> <a href="/com/festivals">Festivals</a> </li>
									<li> <a href="/com/giftitem">Giftitem</a> </li>
									<li> <a href="/com/jounal">Journals</a> </li>
									<li> <a href="/com/papers">Papers</a> </li>

                                    <li> <a href="/com/seedpapers">Seedpapers</a></li>

									<li> <a href="/com/star">Star&Lamp</a> </li>


								</ul>
							</div><!-- end main-menu -->
						</div>
					</div>
				</div>
			</header>
    <!--End Navigation-->